body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: consolas;
  overflow: hidden;
}
.scroll-area {
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.box {
  width: 100%;
  height: 100vh;
  color: #fff;
  font-size: 100px;
  display: flex;
  align-items: center; /* 縦方向中央揃え */
  justify-content: center; /* 横方向中央揃え */
  flex-direction: column;
}
@media screen and (max-width: 320px) and (max-width: 480px) {
  .box {
    width: 320px;
    height: 480px;
  }
}
.box__bg_black {
  background-color: #333;
}
.box__bg_gray {
  background-color: beige;
}
.box__bg_photo {
  background-image: url(img/index.png) ;
  background-size: cover;
  background-position: center;
}
p {
  margin: 0;
  padding: 0;
  line-height: 1;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background: #000;
}

.sns_box {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 1 ;
  right: 0;

  margin: 50px 50px 50px 50px;
  height: 44px;
  min-width: 44px;
}

.sns_button {
  float: left;
  box-shadow: inset 0 0 0 2px #009900;/*393737;*/
  border-radius: 100%;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}
.sns_button a {
  display: table-cell;
  width: 44px;
  height: 44px;
  color: #009999;/*393737;*/
  text-align: center;
  vertical-align: middle;
  -moz-transition: all 280ms ease;
  -o-transition: all 280ms ease;
  -webkit-transition: all 280ms ease;
  transition: all 280ms ease;
}
.sns_button i {
  font-size: 20px;
  vertical-align: middle;
}
.sns_button:hover {
  box-shadow: inset 0 0 0 22px white;
}

.sns_button + .sns_button {
  margin: 0 0 0 12px;
}

.twitter:hover a {
  color: #1B95E0;
}

.facebook:hover a {
  color: #3B5999;
}

.google:hover a {
  color: #dd4b39;
}

.instagram:hover a {
  color: #2b5c84;
}

.pocket:hover a {
  color: #EE4056;
}

.option0{
  width: 900px;
   height: 600px;
}

.menulist1{
    font-size: 25px;
   position: absolute;
  top:1 ;
  bottom:1 ;
  right: 1;
    left: 0;
  margin: 20px 20px 20px 20px;
    text-decoration: none;
    color: #00FF00;/*ffffff;*/
    display: inline-block;
     transition: all 0.24s ease-in;
}
.menulist1 span {
  display: inline-block;
   transition: all 0.24s ease-in;
   color: #006600;
}

.menulist2{
    font-size: 25px;
       position: absolute;
  top:1 ;
  bottom: 0;
  right: 1;
    left: 1;
  margin: 20px 20px 20px -5px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.menulist2 span {
  display: inline-block;
   transition: all 0.24s ease-in;
   color: #006600;
}

.menulist3{
      font-size: 25px;
   position: absolute;
  top:1;
  bottom:1 ;
  right: 0;
    left:1 ;
  margin: 20px 20px 20px 20px;
    text-align: right;
    text-decoration: none;
    color: #ffffff;
}
.menulist3 span {
  display: inline-block;
   transition: all 0.24s ease-in;
   color: #006600;
}
.menulist4{
    font-size: 25px;
      position: absolute;
  top:0 ;
  bottom:1 ;
  right: 1;
    left: 1;
  margin: 20px 20px 20px -5px;

    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.menulist4 span {
  display: inline-block;
   transition: all 0.24s ease-in;
   color: #006600;
}

.menulist1:hover span {
  animation: hoveMenuAnime 0.5s ease-in;
}

.menulist1:hover span:nth-child(1) {
  animation-delay: 0;
}

.menulist1:hover span:nth-child(2) {
  animation-delay: 25ms;
}

.menulist1:hover span:nth-child(3) {
  animation-delay: 50ms;
}

.menulist1:hover span:nth-child(4) {
  animation-delay: 75ms;
}

.menulist1:hover span:nth-child(5) {
  animation-delay: 100ms;
}

.menulist1:hover span:nth-child(6) {
  animation-delay: 125ms;
}

.menulist1:hover span:nth-child(7) {
  animation-delay: 150ms;
}
.menulist2:hover span {
  animation: hoveMenuAnime 0.5s ease-in;
}

.menulist2:hover span:nth-child(1) {
  animation-delay: 0;
}

.menulist2:hover span:nth-child(2) {
  animation-delay: 25ms;
}

.menulist2:hover span:nth-child(3) {
  animation-delay: 50ms;
}

.menulist2:hover span:nth-child(4) {
  animation-delay: 75ms;
}

.menulist2:hover span:nth-child(5) {
  animation-delay: 100ms;
}

.menulist2:hover span:nth-child(6) {
  animation-delay: 125ms;
}
.menulist2:hover span:nth-child(7) {
  animation-delay: 150ms;
}

.menulist3:hover span {
  animation: hoveMenuAnime 0.5s ease-in;
}
.menulist3:hover span:nth-child(1) {
  animation-delay: 0;
}

.menulist3:hover span:nth-child(2) {
  animation-delay: 25ms;
}

.menulist3:hover span:nth-child(3) {
  animation-delay: 50ms;
}

.menulist3:hover span:nth-child(4) {
  animation-delay: 75ms;
}
.menulist3:hover span:nth-child(5) {
  animation-delay: 100ms;
}
.menulist4:hover span {
  animation: hoveMenuAnime 0.5s ease-in;
}
.menulist4:hover span:nth-child(1) {
  animation-delay: 0;
}

.menulist4:hover span:nth-child(2) {
  animation-delay: 25ms;
}

.menulist4:hover span:nth-child(3) {
  animation-delay: 50ms;
}

.menulist4:hover span:nth-child(4) {
  animation-delay: 75ms;
}
.menulist4:hover span:nth-child(5) {
  animation-delay: 100ms;
}
.menulist4:hover span:nth-child(6) {
  animation-delay: 125ms;
}
.menulist4:hover span:nth-child(7) {
  animation-delay: 150ms;
}
.menulist4:hover span:nth-child(8) {
  animation-delay: 175ms;
}
@keyframes hoveMenuAnime {

  0% {
    opacity: 1;
    transform: translateY(0px)scaleY(1);
  }

  50% {
    opacity: 0;
    transform: translateY(10px)scaleY(0);
  }

  51% {
    transform: translateY(-10px)scaleY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0px)scaleY(1);
  }
}
h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: transparent;
  text-transform: uppercase;
}
h2 span:nth-child(1){
  position: absolute;
  top: 0;
  left: 0;
  color: #006400; /*000*/
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  overflow: hidden;
}
h2:hover span:nth-child(1){
  transform: translateY(-32px);/*上下の文字下降 def -18px*/
}

h2 span:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;
  color: #006400; /*000*/
  transition: 0.5s;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  overflow: hidden;
}
h2:hover span:nth-child(2){
   transform: translateY(32px);/*上下の文字下降 def 18px*/
}
h2 span:nth-child(3){
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scaleY(0);
    width: 92%;
    color: #000;
    background: #808000; /*ff0*/
    font-size: 0.4em;/*def0.25 Rec0.4*/
    font-weight: 500;/*500 maybe 文字太さ*/
    letter-spacing: 0.2em;/*文字の幅 def0.7em Rec1.4em*/
    text-align: center;
    padding-left: 34.3px; /*def 20px Rec 34.4px*/
    margin-left: 6px; /*移動 def 6px Rec 9px*/
    transition: 0.5;/*0.5*/
  }
h2:hover span:nth-child(3){
      transform: translateY(-50%) scaleY(1);
}
